@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    scroll-behavior: smooth;
  }

  body {

    @apply font-body bg-light text-dark antialiased transition-colors duration-300;
  }


  .dark body {
    @apply bg-dark text-light;
  }
} */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body text-dark antialiased transition-colors duration-300;

    /* LIGHT MODE TEXTURE */
    background-color: #fafafa;
    background-image: radial-gradient(#e5e5e5 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .dark body {
    @apply text-light;

    /* DARK MODE TEXTURE */
    background-color: #050505;
    background-image: radial-gradient(#1f1f1f 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
